
body {
    background-image: url("imagemEx03.jpg"); 
        background-repeat: repeat;
        background-size: auto;
        background-color: white; 
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
   
}

h1 {
    background-color: rgb(255, 192, 203);
    color: white;
    padding: 30px 0;
    margin-bottom: 40px;
    font-size: 2em;
    width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.card {
    background-color: white;
    border: 2px solid plum;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto 30px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.card input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 8px;
    font-size: 16px;
}

.card button {
    background-color: pink;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.card button:hover {
    background-color: plum;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
